            :root
            {
                --grey: rgb(190,190,190);
                --dark-grey: rgb(32,32,32);
            }

            @font-face
            {
                font-family: 'NexaLight';
                src:url('fonts/NexaLight.ttf.woff') format('woff');
            }

            body
            {
                margin: 0;
                font-family: 'PT Sans', sans-serif;            
            }
            h2
            {
                font-size: 50px;
            }
            

            .section
            { 
                overflow: hidden;
                position: relative;
                min-height: 750px;               
                --foreground-color: var(--grey);
                --text-color: var(--dark-grey);
            }
            .menu
            {
                font-family: 'NexaLight';
                color: var(--foreground-color);
                fill: var(--foreground-color);
            }
            .line
            {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 93vw;
                height: 1px;
                background-color: var(--foreground-color);
            }
            
            .content
            {
                display: grid;
                grid-template-columns: 40vw 30vw;
                grid-template-rows: auto;
                height: auto;
                margin: 68px auto;
                gap: 5vw;
                width: 84vw;
                padding-bottom: 300px;
                color: var(--text-color);
                fill: var(--text-color);
            }
            .content p
            {
                line-height: 2;
            }

            .scroll-down
            {
                font-family: 'OpenSans', sans-serif;
                font-size: 12px;
                color: var(--foreground-color);
                fill: var(--foreground-color);
            }



            .home
            {
                background-image: url("images/background.jpg");
                background-repeat: no-repeat;
                background-position: top;
                background-size: 1920px auto;
                --foreground-color: white;
                --text-color: white;
            }

            .home .menu
            {
                font-family: 'PT Sans', sans-serif;
                animation: none !important;
            }

           
            @keyframes open 
            {
                from {height: 0px}
                to {height: 300px}
            }

            @keyframes show 
            {
                from
                {
                    transform: translateY(-100%);
                }
                to
                {
                    transform: translateY(0%);
                }
            }

            .open
            {
                overflow: hidden;
                height: 300px;
                animation: open 0.5s;
            }
            .closed
            {
                overflow: hidden;
                height: 0px;
            }

            .visible
            {
                animation: show 0.5s;
            }
            .hidden
            {
                transform: translateY(-100%);
            }
            /* tablet */
            @media screen and (max-width: 1200px) 
            {
                /* одна колонка */
                .content
                {
                    display: block;
                    width: 100%;
                    margin: 0;
                }
                .content :not(img)
                {
                    margin: 3vw;
                }

                /* линия во всю ширину экрана */
                .line
                {
                    width: 100%;
                }

                /* нет стрелочки в home */
                .home .scroll-down
                {
                    display: none;
                }
                .home .line
                {
                    width: max(93vw, 650px);
                }             
            } 


            /* mobile */
            @media screen and (max-width: 650px)
            {
                .section
                {
                    min-height: 0px;
                }

                .menu
                {
                    display: none;
                }

                .home
                {
                    min-height: 266px;
                }
                .home .menu
                {
                    display: block;
                }
                .home .line
                {
                    display: none;
                }
                .home .content
                {
                    display: none;
                }

                h2
                {
                    font-size: 24px;
                }
                .content
                {
                    overflow: hidden;
                }
                .content img
                {
                    width: 650px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }