            :root
            {
                --grey: rgb(190,190,190);
                --dark-grey: rgb(32,32,32);
            }

            @font-face
            {
                font-family: 'NexaLight';
                src:url('fonts/NexaLight.ttf.woff') format('woff');
            }

            body
            {
                margin: 0;
                font-family: 'PT Sans', sans-serif;            
            }
            h2
            {
                font-size: 50px;
            }
            

            .section
            { 
                position: relative;
                min-height: 750px;               
                --foreground-color: var(--grey);
                --text-color: var(--dark-grey);
            }
            .menu
            {
                font-family: 'NexaLight';
                color: var(--foreground-color);
                fill: var(--foreground-color);
            }
            .line
            {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: max(93vw, 600px);
                height: 1px;
                background-color: var(--foreground-color);
            }
            
            .content
            {
                display: grid;
                grid-template-columns: 40vw 30vw;
                grid-template-rows: auto;
                height: auto;
                margin: 68px auto;
                gap: 5vw;
                width: 84vw;
                padding-bottom: 300px;
                color: var(--text-color);
                fill: var(--text-color);
            }
            .content p
            {
                line-height: 2;
            }

            .scroll-down
            {
                font-family: 'OpenSans', sans-serif;
                font-size: 12px;
                
            }



            .home
            {
                background-image: url("images/background.jpg");
                background-repeat: no-repeat;
                background-position: top;
                background-size: 1920px auto;
                --foreground-color: white;
                --text-color: white;
            }

            .home .menu
            {
                font-family: 'PT Sans', sans-serif;
            }

           


            @media screen and (max-width: 1200px) 
            {
                .content
                {
                    display: block;
                    width: 100%;
                    margin: 0;
                }
                .content :not(img)
                {
                    margin: 3vw;
                }
            }


            /* mobile */
            @media screen and (max-width: 600px)
            {
                .section
                {
                    min-height: 0px;
                }

                :not(.home) .menu > *
                {
                    display: none;
                }
            }


            /* tablet */
            @media screen and (max-width: 700px) 
            {
                h2
                {
                    font-size: 24px;
                }
                .content img
                {
                    width: 700px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .line
                {
                    width: 100%;
                }
            }