            :root
            {
                --grey: rgb(190,190,190);
                --dark-grey: rgb(32,32,32);
            }
            body
            {
                margin: 0;
                font-family: 'PT Sans', sans-serif;
                fill: var(--grey);
                color: var(--grey);
            }
            h2
            {
                font-size: 50px;
            }
            

            .section
            { 
                position: relative;
                min-height: 750px;
            }
            .home
            {
                background-image: url("assets/background.jpg");
                background-repeat: no-repeat;
                background-position: top;
                background-size: 1920px auto;
                color: white;
                fill: white;
            }

            .content
            {
                display: grid;
                grid-template-columns: 40vw 30vw;
                grid-template-rows: auto;
                height: auto;
                margin: 68px auto;
                gap: 5vw;
                width: 84vw;
                color: var(--dark-grey);
                padding-bottom: 300px;
            }
            .content p
            {
                line-height: 2;
            }
            



            .centered
            {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            

            .scroll-down
            {
                position: absolute;
                bottom: 110px;
                width: 100%;
                font-size: 12px;
                color: var(--grey);                           
            }
            .scroll-down *
            {
                text-align: center;
                 
            }
           
            @media screen and (max-width: 1200px) 
            {
                .content
                {
                    display: block;
                    width: 100%;
                    margin: 0;
                }
                .content :not(img)
                {
                    margin: 3vw;
                }
            }


            @media screen and (max-width: 600px)
            {
                .section
                {
                    min-height: 0px;
                }
            }



            @media screen and (max-width: 650px) 
            {
                h2
                {
                    font-size: 24px;
                }
                .content img
                {
                    width: 650px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }


 
            @media screen and (max-width: 1200px) 
            {
                .line
                {
                    width: 100%;
                }
            }